<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://ka-f.fontawesome.com https://kit.fontawesome.com; style-src 'self' https://ka-f.fontawesome.com https://kit.fontawesome.com 'unsafe-inline'">
    <script src="https://kit.fontawesome.com/e135b5fc83.js" crossorigin="anonymous"></script>
    <title>Dialog Editor - no file open</title>
</head>

<body class="bg-zinc-900 text-white font-sans">
    <div id="root"></div>
</body>

</html>